.filters
{
    margin-top: 100px;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 30px;   

}

.box1
{
    height: 400px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.box2 input
{
    margin-top: 20px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.topbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.button:hover
{
    cursor: pointer;
}